.details {
  margin: 20px 0 50px;
}

.single-picture {
  width: 100%;
  max-height: 400px;
  border-radius: 20px;
  object-fit: cover;
}

.title {
  color: #f26b61;
}

.first-row {
  height: 100px;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.host {
  display: flex;
  justify-content: center;
  align-items: center;
}

.host-image {
  height: 70%;
  border-radius: 50px;
  margin-left: 20px;
}

.second-row {
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.tags-section {
  display: flex;
}

.tag {
  margin-right: 20px;
}

.third-row {
  display: flex;
  justify-content: space-between;
}

.third-row details:hover {
  cursor: pointer;
}
