footer {
	width: auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	color: white;
	background-color: black;
	padding: 20px;

	p {
		margin: auto;
	}
}

.logo-kasa-footer {
	margin: auto;
	margin-bottom: 20px;
	width: 100px;
}