footer {
  width: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  background-color: black;
  padding: 20px;
}

.logo-kasa-footer {
  margin: auto;
  margin-bottom: 20px;
  width: 100px;
}

footer p {
  margin: auto;
}
