.header {
	height: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;

	.logo-kasa {
		height: 70px;

		@media (max-width: 700px) {
			height: 40px;
		}
	}

	.nav-button {
		border: none;
		background-color: transparent;
		margin-left: 30px;
		color: black;
		text-decoration: none;
		cursor: pointer;

		&:hover {
			text-decoration: underline;
		}

		&.active {
			text-decoration: underline;
		}

		@media (max-width: 700px) {
			margin-left: 20px;
			font-size: 15px;
		}
	}
}