.page-error {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.code-error {
  margin: auto;
  color: #f26b61;
  font-size: 200px;
}

.comment {
  margin: 100px auto 100px auto;
  color: #f26b61;
  font-size: 20px;
  font-weight: 500;
}

.home-btn {
  margin: auto;
  font-weight: 500;
  background-color: transparent;
}
